<div class="input-field col s2">
  <a class="waves-effect waves-light btn" (click)="onClickAddContact()">Novo</a>
</div>
<div class="row" *ngIf="onAddMode">
  <div class="col s12">Novo Contato</div>
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input id="nome" type="text" class="validate">
        <label for="nome">Nome</label>
      </div>
      <div class="input-field col s6">
        <input id="nome_fonetico" type="text" class="validate">
        <label for="nome">Nome Fonético</label>
      </div>
      <div class="input-field col s6">
        <input id="sobrenome" type="text" class="validate">
        <label for="sobrenome">Sobrenome</label>
      </div>
      <div class="input-field col s6">
        <input id="sobrenome_fonetico" type="text" class="validate">
        <label for="sobrenome_fonetico">Sobrenome Fonético</label>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="empresa" type="text" class="validate">
          <label for="empresa">Empresa</label>
        </div>
        <div class="input-field col s6">
          <input id="empresa_fonetico" type="text" class="validate">
          <label for="empresa_fonetico">Empresa (Fonético)</label>
        </div>
        <a class="waves-effect green accent-4 btn s2" (click)="onSave()">Salvar</a>
        <a class="waves-effect deep-orange accent-4 btn s2" (click)="onDiscard()">Descartar</a>
      </div>
    </div>
    
  </form>
</div>